//
// Social Sharing Buttons for Material Design Lite
// by Brandon Himpfen http://www.himpfen.com/
// --------------------------------------------------

$twitter : #00acee;
$facebook : #3b5998;
$google : #4284f3;
$googleplus : #e93f2e;
$stumbleupon : #f74425;
$linkedin : #0e76a8;
$steam : #6f9e31;

$md-colour-list : (
        twitter $twitter,
        facebook $facebook,
        googleplus $googleplus,
        google $google,
        stumbleupon $stumbleupon,
        linkedin $linkedin,
        steam $steam
);

@each $colour-name, $md-colour in $md-colour-list {
    .mdl-button.mdl-button--#{$colour-name} {
        color : rgb(63, 81, 181)
    }
    .mdl-button.mdl-button--#{$colour-name}:focus:not(:active) {
        background-color : $md-colour
    }
    .mdl-button--raised.mdl-button--#{$colour-name} {
        background : $md-colour;
        color      : rgb(255, 255, 255)
    }
    .mdl-button--raised.mdl-button--#{$colour-name}:hover {
        background-color : $md-colour
    }
    .mdl-button--raised.mdl-button--#{$colour-name}:active {
        background-color : $md-colour
    }
    .mdl-button--raised.mdl-button--#{$colour-name}:focus:not(:active) {
        background-color : $md-colour
    }
    .mdl-button--raised.mdl-button--#{$colour-name} .mdl-ripple {
        background : rgb(255, 255, 255)
    }
    .mdl-button--fab.mdl-button--#{$colour-name} {
        background : $md-colour;
        color      : rgb(255, 255, 255)
    }
    .mdl-button--fab.mdl-button--#{$colour-name}:hover {
        background-color : $md-colour
    }
    .mdl-button--fab.mdl-button--#{$colour-name}:focus:not(:active) {
        background-color : $md-colour
    }
    .mdl-button--fab.mdl-button--#{$colour-name}:active {
        background-color : $md-colour
    }
    .mdl-button--fab.mdl-button--#{$colour-name} .mdl-ripple {
        background : rgb(255, 255, 255)
    }
}

.mdl-button.mdl-button--social {
    padding-left : 52px;
    text-align   : left;
    .fa {
        background-color : rgba(0, 0, 0, 0.2);
        width            : 40px;
        height           : 100%;
        position         : absolute;
        left             : 0;
        top              : 0;
        line-height      : 35px;
        text-align       : center;
        font-size        : 16px;
    }
}