@import "../../styles/exports";
@import "social";

.vc-root-login {
    margin : 2rem 0;

    .mdl-card {
        margin : 0 auto;
    }

    .mdl-layout__content {
        padding : 24px;
        flex    : none;
    }

    .text-center {
        text-align : center;
    }
    .wrapper {
        margin : auto;
    }

    .mdl-card__supporting-text {
        text-align  : center;
        padding-top : 36px;
    }

    .mdl-button--social {
        width         : 168px;
        margin-bottom : 8px;
        font-size     : 12px;
    }

    .mdl-button--login {
        width         : 120px;
        margin-bottom : 8px;
    }

    .mdl-button--create {
        //width         : 120px;
        margin-bottom : 8px;
    }

    .am--or {
        margin-top : 16px;
        color      : $palette-grey-400;
    }

    .am-login-form {
        .mdl-textfield:nth-child(2) {
            margin-bottom : 8px;
        }
    }

    .am-login-form__forgot {
        padding-left : 24px;
    }
}