<div class="vc-root-login">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-tabs is-upgraded ">
            <div class="mdl-tabs__tab-bar">
                <mdl-tab tab="signin" :active.sync="tab">Sign in</mdl-tab>
                <mdl-tab tab="signup" :active.sync="tab">Sign up</mdl-tab>
            </div>

            <mdl-tab-panel tab="signin" :active="tab">
                <div class="mdl-card__supporting-text">
                    <!-- Steam -->
                    <a :href="config.app.host+'/auth/steam'"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--social mdl-button--steam">
                        <i class="fa fa-steam fa-fw"></i>
                        <span>Login with Steam</span>
                    </a>
                    <!-- Google -->
                    <a :href="config.app.host+'/auth/google'"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--social mdl-button--google">
                        <i class="fa fa-google fa-fw"></i>
                        <span>Login with Google</span>
                    </a>
                    <!-- Facebook -->
                    <a :href="config.app.host+'/auth/facebook'"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--social mdl-button--facebook">
                        <i class="fa fa-facebook fa-fw"></i>
                        <span>Login with Facebook</span>
                    </a>

                    <div class="am--or">Or</div>

                    <form class="am-login-form mdl-typography--text-left" action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="si-username"/>
                            <label class="mdl-textfield__label" for="si-username">Username</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield ">
                            <input class="mdl-textfield__input" type="password" id="si-userpass"/>
                            <label class="mdl-textfield__label" for="si-userpass">Password</label>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--login">
                            Log in
                        </button>
                        <a href="#" class="am-login-form__forgot">Forgot password?</a>
                    </form>
                </div>
            </mdl-tab-panel>

            <mdl-tab-panel tab="signup" :active="tab">
                <div class="mdl-card__supporting-text">
                    <!-- Steam -->
                    <a :href="config.app.host+'/auth/steam'"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--social mdl-button--steam">
                        <i class="fa fa-steam fa-fw"></i>
                        <span>Signup with Steam</span>
                    </a>
                    <!-- Google -->
                    <a :href="config.app.host+'/auth/google'"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--social mdl-button--google">
                        <i class="fa fa-google fa-fw"></i>
                        <span>Signup with Google</span>
                    </a>
                    <!-- Facebook -->
                    <a :href="config.app.host+'/auth/facebook'"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--social mdl-button--facebook">
                        <i class="fa fa-facebook fa-fw"></i>
                        <span>Signup with Facebook</span>
                    </a>

                    <div class="am--or">Or please enter your email and password</div>

                    <form class="am-login-form mdl-typography--text-left" action="#">
                        <div class="mdl-textfield mdl-js-textfield ">
                            <input class="mdl-textfield__input" type="text" id="su-username"/>
                            <label class="mdl-textfield__label" for="su-username">Username</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield ">
                            <input class="mdl-textfield__input" type="password" id="su-userpass"/>
                            <label class="mdl-textfield__label" for="su-userpass">Password</label>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--create">
                            Create account
                        </button>
                    </form>
                </div>
            </mdl-tab-panel>
        </div>
    </div>
</div>